.about-container {
  min-height: calc(100vh - 77px);
  background-color: #202020;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 300px;
  justify-content: center;
}
.main-container {
  max-width: 100ch;
  padding: 5rem;
  line-height: 1.6;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}
.opening-hours-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}
