@font-face {
  font-family: "Mea Culpa";
  src: url(../assets/fonts/MeaCulpa-Regular.ttf);
}
@font-face {
  font-family: "Ephesis";
  src: url(../assets/fonts/Ephesis-Regular.ttf);
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.resto-heading {
  font-family: "Mea Culpa", sans-serif;
  font-size: 3rem;
  border-bottom: 1px solid grey;
  line-height: 1;
}
.menu-el__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}
.menu-item__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 5rem;
  font-size: 2rem;
}
.menu-item__price,
.menu-item__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ephesis", sans-serif;
}
.menu-item__price {
  justify-self: start;
}
