:root {
  --clr-main-bgc: #100b04;
  --clr-header-bgc: #202020;
  --clr-btn-hover: rgba(255, 255, 255, 0.8);
  --clr-white: white;
}
@font-face {
  font-family: "Mea Culpa";
  src: url(../assets/fonts/MeaCulpa-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--clr-header-bgc);
  color: var(--clr-white);
}
.main-header__nav {
  display: flex;
  gap: 1rem;
}
.logo-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: "Mea Culpa", sans-serif;
}
.header-btn {
  border: none;
  background: none;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
}
.header-btn:hover {
  text-decoration: underline;
  color: var(--clr-btn-hover);
}
